@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif: 'Lora', system-ui, -apple-system, BlinkMacSystemFont;
}
